#################
## Subdirectories
#################
GDAL
RVT_1.2_Win64
RVT_1.2_Win32
RVT_1.2_Lin64


#################
## Files
#################
.project


#################
## File extensions
#################
*.zip
*.rar
*.enp
*.sav